mat-form-field {
  width: 100%;
}
.row {
  display: flex;
}
.column {
  flex: 50%;
  margin: 0px, 5px;
}
.error {
  color: #B0304B;
  
}

.b{
  background-color: #2898ee;
  margin-right: 5px;
  cursor:pointer;
  color:#ffff;
  width: 15%;
}
.c{
  background-color:#f44336;
  color:white;
  cursor:pointer;
  width: 15%;
}
.c:hover{
  cursor:pointer;
  background-color: hwb(19 6% 8%);
}

.fade {
  transition: opacity 0.15s linear;
}


.panel{
  margin: 0;
  color: #ffff;
  background-color:#f01c64;
  padding: 20px 20px;
}
.panel>h1{
  font-family: 'Quicksand',sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}