<app-navbar></app-navbar>
<div class="panel-actividades">
    <div class="container">
        <h1 class="titulo"><b>Histórico </b> <small>actividades registradas</small> </h1>
    </div>
    <div class="container-sm">

        <div class="acciones">
            <h4 class="panel-title text-center text-uppercase">actividades realizadas en el "<b><span
                        id="nombre-materia-show">CEA</span></b>"</h4>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="dataTables_length">
                    <label class="d-flex align-items-center">Cantidad de Actividades {{ totalPosiciones}}
                        
                    </label>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="dataTables_filter">
                    <label class="d-flex align-items-center">Buscar:
                        <input type="search" class="form-control bus" placeholder=""
                            aria-controls="historico-registro-actividades" (keyup)="buscador($event)" >
                    </label>
                </div>
            </div>
        </div>
        <div class="cont">
            <div *ngFor="let actividad of filteredActivitys ;let i=index">
                <div class="card">
                    
                    <div class="box">
                     
                        <div class="content">
                            <img src="{{actividad.imagenes[0].ruta}}" alt="">
                            <h2>{{actividad.id}}</h2>
                            <h3>{{actividad.nombre}}</h3>
                            <p>{{actividad.descripcion}}</p>
                            <p>Realizada: {{actividad.fecha.slice(0,-9)}}</p>
                            <a href="">Ver mas</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>