<app-header></app-header>
<app-sidebar></app-sidebar>
<link rel="stylesheet" href="dashboard.component.css">
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="panel">
      <div class="container">
        <h1 class="titulo"><b>Histórico </b> <small>datos registrados</small> </h1>
      </div>
    </div>

    <div class="container-sm">
      <div class="row">

        <div class="col-sm-3">
          <div class="card " style="font-family: 'Quicksand',sans-serif;border-top: 5px solid #e2a343;">

            <div class="inner card-body">
              <h2 class="card-title">{{cantidadVisitas}}</h2>
              <p>VISITAS</p>
              <i class="fa fa-address-card nav-icon" aria-hidden="true"></i>

            </div>
            <div class="fo">
              <a [routerLink]="['/cea/visita/']" class="small-box-footer">Mas informacion <i
                  class="fas fa-arrow-circle-right"></i></a>
            </div>

          </div>
        </div>


        <div class="col-sm-3">

          <div class="card " style="font-family: 'Quicksand',sans-serif;border-top:5px solid #4CAF50">

            <div class="inner">
              <h2 class="card-title">{{cantidadInstituciones}}</h2>
              <p>INSTITUCIONES</p>
              <i class="fa fa-university nav-icon" aria-hidden="true"></i>

            </div>
            <div class="fo">
              <a [routerLink]="['/cea/institucion']" class="small-box-footer">
                Mas informacion <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card" style="font-family: 'Quicksand',sans-serif;border-top: 5px solid #f03311;">

            <div class="inner">
              <h2 class="card-title">{{cantidadActividades}}</h2>
              <p>ACTIVIDADES</p>
              <i class="fa fa-book nav-icon" aria-hidden="true"></i>

            </div>
            <div class="fo">
              <a [routerLink]="['/cea/actividad']" class="small-box-footer">
                Mas informacion <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
        </div>

        <!-- ./col -->
        <div class="col-sm-3" *ngIf="user.rol=='Administrador'">
          <div class="card"  style="font-family: 'Quicksand',sans-serif;border-top: 5px solid #1ad0f0;">

            <div class="inner">
              <h2 class="card-title">{{cantidadUsuarios}}</h2>
              <p>USUARIOS</p>
              <i class="fa fa-users co"></i>

            </div>
            <div class="fo">
              <a [routerLink]="['/singin/usuario']" class="small-box-footer">
                Mas informacion <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
  
        </div>
      </div>
      <div class="row ">

        <div class="col-sm-3">
          <div class="card"  style="font-family: 'Quicksand',sans-serif;border-top: 5px solid #e677abec;">

            <div class="inner">
              <h2 class="card-title">{{cantidadReuniones}}</h2>
              <p>REUNIONES</p>
              <i class="fa fa-handshake"></i>

            </div>
            <div class="fo">
              <a [routerLink]="['/cea/visita/']" class="small-box-footer">Mas informacion <i
                class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card "  style="font-family: 'Quicksand',sans-serif;border-top: 5px solid #751fe6;">

            <div class="inner">
              <h2 class="card-title">{{cantidadExteriores}}</h2>
              <p>TALLERES AMBIENTALES EXTERIORES</p>
              <i class="fa fa-tree co"></i>

            </div>
            <div class="fo">
              <a [routerLink]="['/cea/visita/']" class="small-box-footer">Mas informacion <i
                class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card "  style="font-family: 'Quicksand',sans-serif;border-top: 5px solid #1972e7;">

            <div class="inner">
              <h2 class="card-title">{{cantidadInternos}}</h2>
              <p>TALLERES AMBIENTALES INTERIORES</p>
              <i class="fa fa-tree fa-2x co"></i>

            </div>
            <div class="fo">
              <a [routerLink]="['/cea/visita/']" class="small-box-footer">Mas informacion <i
                class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="card "  style="font-family: 'Quicksand',sans-serif;border-top: 5px solid rgb(94, 132, 185);">

            <div class="inner">
              <h2 class="card-title">{{cantidadCampanias}}</h2>
              <p>CAMPAÑAS AMBIENTALES</p>
              <i class="fa fa-bookmark co" aria-hidden="true"></i>

            </div>
            <div class="fo">
              <a [routerLink]="['/cea/visita/']" class="small-box-footer">Mas informacion <i
                class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>