<header class=" fixed-top">
  <!-- <div class="imagenes col-12">
    <div class="row">
      <div class="col-sm-6 im">
        <img src="../../../assets/Image/logo_bientefue.png" alt="">
      </div>
      <div class="col-sm-6 tc">
        <img src="../../../assets/Image/actividades.png" alt=""><p>Centro de educacion Ambiental</p>
      </div>
    </div>

  </div> -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light ">

    <div class="container-fluid">
      <a class="navbar-brand" class="tc">
        <img src="../../../assets/Image/logo_bientefue.png " width="30" height="30" class="d-inline-block align-top" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Actividades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Quienes Somos</a>
          </li>

        </ul>
        <ul class="d-flex user-logout navbar-nav mb-2 mb-lg-0 ">
          <li class="nav-item">
            <a class=" nav-link user" href="#">
              <small>cea.{{user["usuario"] }} </small> <img src="../../../assets/Image/logo_bientefue.png" alt="">
            </a>
          </li>
          <li class="nav-item">
            <a (click)="cerrarSesion()" class=" nav-link user-logout" >
              Salir <i class="fa-solid fa-right-to-bracket"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


</header>