<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1 class="t"><b>Centro de Educación</b> <small> Bien te Fue</small> </h1>
        </div>
        <div class="col-sm-6 er" >
            <a [routerLink]="['/cea-actividades/actividades']" class="nav-link  return"><i class="fa fa-home nav-icon"> <small class="r">Inicio</small></i></a>
        </div>
    </div>
    
    <div class="mv">
        <div class="titulo">
            <h5>Misión</h5>
        </div>
        <div class="texto">
            <p>Es contribuir a la deducción delos problemas ambientales de la ciudad a traves del conocimiento de la problemmatica, los impactos ambientales la sensabilisación y concienciación; por medio de acciones que produzcan un cambio de habitos y conductas de forma gradual en temas ambientales, socio/productivos y comunitarios, fortalecioendo los valores ciudadanos.</p>
        </div>

    </div>
    <div class="mv">
        <div class="titulo">
            <h5>Visión</h5>
        </div>
        <div class="texto">
            <p>Ser un centro reconocido por su compromiso con la ciudad, mediante la eduación ambiental que promueve,  y provoca de forma activa e innovadora, la formación de una cultura ecociudadana, basada en valores, principios y conductas culturales sustentables.</p>
        </div>

    </div>

</div>
<app-footer></app-footer>