
aside{
  /* background-color: #00db9e; */
  background-color: #0c64fc;
}
.logo
{
    margin-top: 30px;
    background-color: #ffff;
    width: 80%;
    border-radius: 100%;
    margin-bottom: 40px;
}
.cea{
    margin-top: 15px;
    text-align: center;
    color: white;
    text-decoration:none;
    font-size: 27px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.larger-text {
  font-size: 18px;
  font-weight: 500;
  color: white; 
 
}

.fa{
  color: #ffffff;
}

