<div class="panel">
  <h1><i class="fa fa-book-open "> </i> Detalle de la Visita</h1>
</div>
<mat-dialog-content class="mat-typography">
  <div class="detail">
    <div class="row">
      <div class="datos">Fecha:<span class="value">{{data.visita.actividad.fecha.slice(0,-9)}}</span></div>
    </div>
    <div class="row">
      <div class="datos">Actividad</div>
      <div style="text-align: center;">
        <div class="titulo"><br><span class="value">{{data.visita.actividad.nombre}}</span></div>
      </div>
    </div>
    <div class="row">
      <div class="datos"><b>Nombres y Apellidos: </b><span class="value">{{data.visita.persona.nombrePersona}}
          {{data.visita.persona.apellidoPersona}}</span></div>
    </div>
    <div class="row">
      <div class="datos col-4"><b>Edad: </b><span class="value">{{data.visita.persona.edadPersona}}</span></div>
      <div class="datos col-4"><b>C.I.:</b> <span class="value">{{data.visita.persona.ciPersona}}</span></div>
      <div class="datos col-4"><b>Celular: </b><span class="value">{{data.visita.persona.celularPersona}}</span></div>
    </div>
    <div class="row">
      <div class="datos col-4"><b>Genero: </b><span class="value">{{data.visita.persona.genero==1?"Masculino":"Femenino"}}</span></div>
      <div class="datos col-4"><b>Email:</b> <span class="value">{{data.visita.persona.email}}</span></div>
      <div class="datos col-4"><b>Tipo: </b><span class="value">{{data.visita.tipo}}</span></div>
     
    </div>
    <div class="row">
      <div class="datos"><b>Lugar: </b><span class="value">{{data.visita.actividad.lugar}}</span></div>
    </div>
 
    <div class="row ">
      <div class="datos"><b>Observaciones:</b>
      <br>
      <span style="margin-left: 15px;">{{data.visita.observaciones}}</span> </div>
    </div>

  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close class="btn">Cerrar</button>
</mat-dialog-actions>