@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto+Flex:wght@300&display=swap');

.main-footer {
  box-shadow: 10px 10px 10px 3px rgba(0, 0, 0, 0.2);
  
  border-top: 1px solid #cecccc;
  background-color: #ffffff;
  width: 100%;
  height: 100px;
}

.fo {
  text-align: left;
  font-family: 'Quicksand', sans-serif;
  padding-top: 20px;
  font-size: 13px;
  font-weight: 100;
  line-height: 1.42857143;
  color: #666262;

}

a {
  text-decoration: none;
  color: #4c87c2;
}

.co {
  background-color: #ffffff;
  height: 100%;
}